* {
  font-family: Bahnschrift;
}

h1 {
  margin-top: 1rem;
  font-size: 3rem;
  text-align: center;
}

.matches {
  width: 90vw;
  max-width: 1170px;
  margin: 1rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .matches {
    grid-template-columns: repeat(3, 1fr);
  }
}
.match {
  background: rgb(240, 240, 183);
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
  position: relative;
}
.match img {
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.match h2 {
  margin-top: 1rem;
  font-size: 1rem;
}
.match h4 {
  color: #ad0606;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  letter-spacing: 2px;
}
.number {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1rem;
  padding: 0.75rem;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background: #5b00c3;
  color: #fff;
}
